@page "/DinnerList"
@using DA.DinnerPlanner.Model;
@using System.Text
@inject DinnerPlannerContext context

<h1>Dinners</h1>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Date</th>
			<th>No of guests (including cooks)</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var dinner in Dinners)
		{
			<tr>
				<td>@dinner.Dinnerdescription</td>
				<td>@dinner.DinnerDate</td>
				<td>@((dinner.Guests.Count + dinner.Cooks.Count).ToString())</td>
				<td>
					@if (dinner.DinnerDate > DateTime.UtcNow)   // liegt das Dinner in der Zukunft, darf es gelöscht werden
					{
						@:"löschen"
					}
				</td>
			</tr>
		}
	</tbody>
</table>