@page "/EditDinnerReview/{DinnerID:int}"
@using DA.DinnerPlanner.Model;
@using DA.DinnerPlanner.Model.Contracts
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.EntityFrameworkCore
@implements IDisposable
@inject IDbContextFactory<DinnerPlannerContext> contextFactory
@inject IConfiguration configuration

<h3>Edit Dinner's Review</h3>
@if (EditingDinner != null && UsersReview != null && !Loading)
{
	<h4>@EditingDinner.Dinnerdescription</h4>
	<div>
		Average rating: 
		<ShowRatingsStars Dinner="EditingDinner"/>
	</div>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Date and Time</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@EditingDinner!.Dinnerdescription</td>
				<td>@EditingDinner.DinnerDate</td>
			</tr>
		</tbody>
	</table>
	<div id="rateDinner">
		<table>
			<tr>
				<td colspan="2" class="fw-bold">
					Rate the evening
				</td>
			</tr>
			<tr>
				<td>No. of stars</td>
				<td><InputNumber @bind-Value="UsersReview.NumberStars4Dinner"/></td>
			</tr>
			<tr>
				<td>add some text</td>
				<td><InputText @bind-Value="UsersReview.ReviewDinner" /></td>
			</tr>
		</table>
	</div>
	<div id="rateHost">
		<table>
			<tr>
				<td colspan="2" class="fw-bold">
					Rate the host in person
				</td>
			</tr>
			<tr>
				<td>No. of stars</td>
				<td><InputNumber @bind-Value="UsersReview.NumberStars4Host" /></td>
			</tr>
			<tr>
				<td>add some text</td>
				<td><InputText @bind-Value="UsersReview.ReviewHost" /></td>
			</tr>
		</table>
	</div>
	<div id="rateCook">
		<table>
			<tr>
				<td colspan="2" class="fw-bold">
					Rate the meal
				</td>
			</tr>
			<tr>
				<td>No. of stars</td>
				<td><InputNumber @bind-Value="UsersReview.NumberStars4Cook" /></td>
			</tr>
			<tr>
				<td>add some text</td>
				<td><InputText @bind-Value="UsersReview.ReviewCook" /></td>
			</tr>
		</table>
	</div>
	<input type="image" src="img/diskette.png" width="30" height="30" @onclick="SaveAsync" />
	<h5>Images</h5>
	<QuickGrid Items="UsersReview.DinnerImages.Where(i=>!i.Deleted).AsQueryable()" TGridItem="DinnerImage">
		<TemplateColumn Context="dinnerImg">
			<img src="data:image;base64,@System.Convert.ToBase64String(dinnerImg.Image)" width="200" />
		</TemplateColumn>
		<TemplateColumn Context="dinnerImg">
			<input type="image" src="img/delete.png" alt="delete image" width="15" height="15" @onclick="(args)=>DeleteDinnerImageAsync(dinnerImg)" />
		</TemplateColumn>
	</QuickGrid>
	<InputFile multiple OnChange="LoadfileAsync" />
}