@page
@model DA.DinnerPlanner.Web.Pages.IDPAccessDeniedModel
@{
}
<h1 class="text-danger">IDP Error</h1>
<h2 class="text-danger">Access denied</h2>
<p>
	Your Identity-Provider (IDP) doesn't allows you to login on this site.
</p>