@using DA.DinnerPlanner.Model;
@using DA.DinnerPlanner.Model.UnitsTypes

<InputSelect TValue="int" class="form-select" @bind-Value="CommTypeId">
	@foreach(CommunicationType ctype in CommunicationTypes!)
	{
	<option value="@ctype.Id">@ctype.Name</option>
	}
</InputSelect>
