@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="text-body">
    <p>English version below....</p>
    <h2>Worum geht's</h2>
    <p>
        Du möchtest neue Leute kennen lernen, dann lad dir doch ein paar Interessierte nach Hause zum (Abend)Essen ein.
        Hier kannst du sie finden, du trägst einfach ein, wann du zum Essen einladen möchtest und das System sucht dir automatisch die passenden Gäste aus (und lädt sie ein).
        Natürlich kannst du als Hausherr/-frau bestimmen, wer am Ende zu dir kommt. Auch du bestimmst, wer von euch das Essen kocht und wieviel Leute überhaupt zu dir kommen dürfen.
    </p>
    <p>
        Etwaige Sprachbarrieren versucht das System zu umgehen, indem nur Menschen eingeladen werden, die sich sprachlich verstehen können.
    </p>
    <h2>What's it about</h2>
    <p>
        If you want to meet new people, then invite a few interested people to your home for dinner.
        You can find them here, you simply enter when you want to invite people to dinner and the system automatically selects the right guests (and invites them).
        Of course, as the host/lady, you can decide who comes to your house in the end. You also decide which of you cooks the meal and how many people are allowed to come to your house.
    </p>
    <p>
        The system tries to circumvent any language barriers by only inviting people who can understand each other linguistically.
    </p>
</div>
