@page
@using System.Text
@model DA.DinnerPlanner.Razor.Proto.Pages.UsersModel
@{
	ViewData["Title"] = "Users";
}
<h1>Users</h1>
<table class="border">
	<thead>
		<tr class="border">
			<th>Name</th>
			<th>Age</th>
			<th>Image</th>
			<th>Languages</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var user in Model.Users)
		{
			<tr class="border">
				<td class ="border">@user.GetDefaultDisplayName()</td>
				<td class="border">@user.Age</td>
				<td class="border">
					@{
						foreach(var image in user.UserImages)
						{
							<img src="data:image;base64,@System.Convert.ToBase64String(image.Image)" width="100" />
						}
					}</td>
				<td class="border">
					@{
						StringBuilder sb = new StringBuilder();
						foreach(var language in user.Languages)
						{
							sb.Append(language.Name);
							sb.Append(", ");
						}
						sb.Length-=2;
						@sb.ToString();
					}</td>
			</tr>
		}
	</tbody>
</table>