@page
@model DA.DinnerPlanner.Razor.Proto.Pages.UsersModel
@{
	ViewData["Title"] = "Users";
}
<h1>Users</h1>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Age</th>
			<th>Image</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var user in Model.Users)
		{
			<tr>
				<td>@user.GetDefaultDisplayName()</td>
				<td>@user.Age</td>
				<td>@{
						foreach(var image in user.UserImages)
						{
							<img src="data:image;base64,@System.Convert.ToBase64String(image.Image)" width="100" />
						}
				}
				</td>
			</tr>
		}
	</tbody>
</table>